<!-- Start Simple Contact -->
<section class="simplecontact_section bg-white padding-py-12 z-index-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="title_sections mb-1 mb-sm-auto">
            <h2>Still need help?</h2>
            <p>
              Click on the blue round button at the bottom right corner
              of this page. You can also email our support team at
              <a class="c-green2" href="mailto:support@example.com">support@example.com</a>.
            </p>
          </div>
        </div>
        <div class="col-md-6 my-auto ml-auto text-sm-right">
          <button type="button"
            class="btn mt-3 rounded-12 sweep_top sweep_letter btn_md_primary c-white scale bg-green2">
            <div class="inside_item">
              <span data-hover="Contact Us">Contact Us</span>
            </div>
          </button>
        </div>
      </div>
      <div class="circle-ripple z-index-0 d-none d-sm-block">
        <div class="ripple ripple-1"></div>
        <div class="ripple ripple-2"></div>
        <div class="ripple ripple-3"></div>
      </div>
    </div>
  </section>
  <!-- End Simple Contact -->
