<!-- Start faq_one_inner -->
<section class="faq_one_inner mt-0 w-100" id="FAQs">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-4">
          <div class="features_points mb-4 mb-lg-0">
            <div class="title_sections_inner">
              <h2>With <span class="c-red">{{ site.data.sitedata.title }}</span> you can</h2>
            </div>
            <ul class="list-group list_feat">
              {% for feature in site.data.features.features %}
              <li class="list-group-item border-0" data-aos="fade-up" data-aos-delay="0">
                <i class="tio checkmark_circle_outlined"></i>
                <p>
                 {{ feature }}
                </p>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="information__contact mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="media">
              <div class="icon">
                <i class="tio support_vs c-orange"></i>
              </div>
              <div class="media-body my-auto">
                <div class="txt">
                  <h4>Technical or account support</h4>
                  <p>We’re here to help! If you have technical issues,
                    <a href="#" class="c-green2">contact support</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 ml-auto">
          <!-- block Collapse -->
          <div class="faq_section faq_demo3 faq_with_icon">
            <div class="block_faq">
              <div class="accordion" id="accordionExample">
                <div class="card" data-aos="fade-up" data-aos-delay="0">
                  <div class="card-header active" id="headingOne">
                    <h3 class="mb-0">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                        How do I make a yearly payment?
                      </button>
                    </h3>
                  </div>
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body">
                      <p class="mb-0">
                        Serenity Is Multi-Faceted Blockchain Based
                        Ecosystem, Energy Retailer For The People,
                        Focusing On The Promotion Of Sustainable Living,
                        Renewable Energy Production And Smart Energy
                        Grid Utility Services.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card" data-aos="fade-up" data-aos-delay="100">
                  <div class="card-header" id="headingTwo">
                    <h3 class="mb-0">
                      <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        How this technology works?
                      </button>
                    </h3>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                    data-parent="#accordionExample">
                    <div class="card-body">
                      <p>
                        Serenity Is Multi-Faceted Blockchain Based
                        Ecosystem, Energy Retailer For The People,
                        Focusing On The Promotion Of Sustainable Living,
                        Renewable Energy Production And Smart Energy
                        Grid Utility Services.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card" data-aos="fade-up" data-aos-delay="200">
                  <div class="card-header" id="headingThree">
                    <h3 class="mb-0">
                      <button class="btn btn-link" type="button" data-toggle="collapse"
                        data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        What is the comunity benefit?
                      </button>
                    </h3>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                    data-parent="#accordionExample">
                    <div class="card-body">
                      <p>
                        We Aim To Become The Incubator For New Renewable
                        Energy-Related Projects By Using The Power Of
                        Crowd.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card" data-aos="fade-up" data-aos-delay="300">
                  <div class="card-header" id="headingFour">
                    <h3 class="mb-0">
                      <button class="btn btn-link" type="button" data-toggle="collapse"
                        data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        What is the comunity benefit?
                      </button>
                    </h3>
                  </div>
                  <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                    data-parent="#accordionExample">
                    <div class="card-body">
                      <p>
                        We Aim To Become The Incubator For New Renewable
                        Energy-Related Projects By Using The Power Of
                        Crowd.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End. faq_one_inner -->