<!-- Start about_cc_grid -->
<section class="about_cc_grid padding-py-12" id="About">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <div class="title_sections_inner mb-0">
            <div class="before_title">
              <span class="c-orange-red">About Us</span>
            </div>
            <h2>We're Rakon, a creative studio that loves to learn, collaborate, and create.</h2>
          </div>
        </div>
        <div class="col-lg-6 ml-auto">
          <div class="title_sections_inner mb-0">
            <p>Hi! We Are Annette Collier And Francis Ericksen, Two Individuals With A Passion For Creativity —
              Creativity Makes Us Happy. We Truly Believe In The Transformative Power Of Illustration And Design
              And Their Ability To Simplify Communications, Elevate Experiences, Engage And Inspire People
              Everywhere.
              <br>
              <br>
              Good Design And Good Relationships Come From Collaboration. We're Excited To Start A Visual
              Dialogue, Learn About You, And Make Something Beautiful Together.</p>
          </div>
        </div>
      </div>

      <div class="row justify-content-center margin-t-12" data-aos="fade-up" data-aos-delay="0">
        <div class="col-lg-5 text-right">
          <div class="group_img">
            <img src="{{ site.baseurl }}{{ site.data.sitedata.photogrid.img1 }}" alt="">
            <img src="{{ site.baseurl }}{{ site.data.sitedata.photogrid.img2 }}" alt="">
          </div>
        </div>
        <div class="col-lg-7 text-left">
          <div class="group_img_two">
            <img src="{{ site.baseurl }}{{ site.data.sitedata.photogrid.img3 }}" alt="">
            <img src="{{ site.baseurl }}{{ site.data.sitedata.photogrid.img4 }}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End. about_cc_grid -->