<!-- Video Modal -->
<div class="modal mdll_video fade" id="mdllVideo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<!-- Close -->
<button type="button" class="close bbt_close ripple_circle" data-dismiss="modal" aria-label="Close">
  <i class="tio clear"></i>
</button>
<div class="modal-dialog modal-dialog-centered modal-lg">
  <div class="modal-content">
    <div class="modal-body">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always"
          allow="autoplay"></iframe>
      </div>
    </div>
  </div>
</div>
</div>